.badge {
  border-radius: 9999px;
  background: #372d3b;
  color: #fbf8fc;
  font-size: 19.608px;
  font-weight: 600;
  padding-inline: 21.57px;
  padding-block: 7.84px;
  flex-direction: row;
  gap: 5px;
}
