.message-item {
  border-radius: 9px;
  padding: 9px;
  background: #f0eaea;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  font-family: Roboto;
  font-size: 19.2px;
  font-weight: 700;
}

.message-item img {
  height: 50px;
  width: 50px;
}

.message-item button {
  margin-left: auto;
}

.message-item button:hover {
  background-color: #0002;
}
